@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Make sure the app fills the height of the screen.
 */
/* body {
	height: 100dvh;
} */

/**
 * Set the value of 1rem to 10px to make relative units
 * easier to work with.
 * (The default is 16px. 16 * 62.5% = 10)
 */
/* html {
	font-size: 62.5%;
} */

/* body {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
		helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
	font-size: 1.8rem;
	line-height: 1.4;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} */
